:root {
    --bg: #0b1220;
    --panel: #0f1722;
    --muted: #9aa6b2;
    --text: #e6edf3;
    --accent: #58a6ff;
}
* {
    box-sizing: border-box;
}
body {
    margin: 0;
    background: var(--bg);
    color: var(--text);
    font-family: Inter, system-ui, Segoe UI, Roboto, Arial;
    padding: 12px;
}

/* --------------------------------------
   | Layout and general styles Desktops |
   -------------------------------------- */

header {
    display: flex;
    gap: 12px;
    align-items: center;
}

.logoTitle {
    display: flex;
    flex-direction: row;
    justify-content: start;
    padding-left: 30px;
    column-gap: 30px;
    width: 70%;
    align-items: center;
    font-size: 24px;
}

.headerButtons {
    display: flex;
    gap: 18px;
    margin-left: auto;
}

main {
    display: grid;
    grid-template-columns: 360px 1fr;
    gap: 12px;
    margin-top: 12px;
    min-height: 70vh;
}
textarea {
    width: 100%;
    height: 500px;
    background: #071019;
    border-radius: 8px;
    border: 1px solid #13202a;
    color: var(--text);
    padding: 8px;
    font-family: monospace;
}
p {
    color: var(--muted);
    font-size: 13px;
}
#stageWrap {
    background: #071018;
    border-radius: 12px;
    padding: 10px;
    overflow: hidden;
}
svg {
    width: 100%;
    height: 78vh;
    display: block;
    background: linear-gradient(180deg, #071018, #07161d);
}
.btn {
    background: var(--panel);
    border: 1px solid #17212b;
    padding: 8px 10px;
    border-radius: 10px;
    color: var(--text);
    cursor: pointer;
}
.btn:hover {
    background: #172b3a;
    border-color: #1c3142;
}
.panel {
    background: var(--panel);
    padding: 12px;
    border-radius: 12px;
    border: 1px solid #17212b;
}
.row {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 4px;
}
.controls {
    display: flex;
    gap: 8px;
    align-items: center;
    margin-top: 8px;
}
.stat {
    font-size: 13px;
    color: var(--muted);
}

#g54box{
    font-size: 16px;
    width: 120px;
}
.g54warning{
    color: #f01010;
    font-weight: bold;
    font-size: 20px;
}

#burgerDiv {
    display: none;
}
/* ----------------------------------
   | Media Query for mobile devices |
   ---------------------------------- */

@media (max-width: 600px) {
    header {
        display: flex;
        flex-direction: column;
        row-gap: 0px;
        align-items: start;
    }
    .logoTitle {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 100%;
        align-items: center;
        font-size: 18px;
        line-height: 1.2;
        font-weight: 600;
        padding: 0;
    }

    /* Le conteneur du burger */
    #burgerDiv {
        display: block;
    }
    #burger {
        display: inline-block;
        cursor: pointer;
    }
    .barBurger-1,
    .barBurger-2,
    .barBurger-3 {
        width: 25px;
        height: 3px;
        border-radius: 5px;
        background-color: var(--text);
        margin: 4px 0;
        transition: 0.4s;
    }
    #burger span {
        display: block;
        width: 25px;
        height: 3px;
        border-radius: 5px;
        margin: 5px 0;
        background: var(--text);
        transition: 0.4s;
    }
    #burger-toggle:checked + #burger .barBurger-1 {
        transform: rotate(-45deg) translate(-5px, 6px);
    }
    #burger-toggle:checked + #burger .barBurger-2 {
        opacity: 0;
    }
    #burger-toggle:checked + #burger .barBurger-3 {
        transform: rotate(45deg) translate(-5px, -6px);
    }
    #burger-toggle {
        display: none;
    }

    /* La liste des machines */
    #list-machines {
        display: flex;
        flex-direction: column;
        gap: 8px;
        width: 50%;
        position: relative;
    }
    select {
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        background: var(--panel);
        border: 2px solid #1c3142;
        border-radius: 8px;
        padding: 10px 40px 10px 15px;
        font-size: 12px;
        cursor: pointer;
        color: var(--text);
    }
    .listMachines::after {
        content: "▼";
        font-size: 16px;
        color: #e6edf3;
        position: absolute;
        right: 12px;
        top: 50%;
        transform: translateY(-70%);
        pointer-events: none; /* clique passe à travers */
    }
    select:focus {
        outline: none;
        border-color: #1c3142;
        color: var(--text);
        box-shadow: 0 0 5px var(--muted);
    }
    option {
        background: #172b3a;
        color: var(--text);
    }
    option:checked {
        background: #1c3142;
    }
    /* Les boutons */
    .headerButtons {
        display: flex;
        gap: 8px;
        margin-left: auto;
    }
    .btn {
        padding: 4px 8px;
    }

    main {
        display: grid;
        grid-template-columns: 1fr;
    }
    .panel {
        padding-top: 5px;
    }
}
